<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstoneproject">

    <application>
        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ADMOB_APP_ID" />
    </application>
</manifest>
